body {
    background-color: #bedbe9;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #032ef0;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #190569;
}

.form-container {
    background-color: #7e93ee;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(105, 79, 167, 0.08);
    padding: 15px 20px;
}

form {
    display: flex;
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
}

.instructions {
    padding: 16px;
    border: 1px solid rgba(194, 185, 235, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
}

.submit-button {
    margin-left: 10px;
    background: rgb(83, 84, 151);
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
}

.hospital {
    font-size: 16px;
    background-color: #fff;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #885df1;
    box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.hidden {
    display: none;
}

.hospital strong {
    color: #885df1;
}

.disclaimer {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

footer a {
    text-decoration: none;
    font-weight: 300;
}

.picture {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
